*{
    margin: 0;
    padding: 0;
}
body {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}


.Button-style{
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text horizontally */
    text-decoration: none; /* Remove underline */
    display: inline-flex; /* Make the button appear inline-flex */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    font-size: 16px; /* Increase font size */
    line-height: 1; /* Ensure single line height */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 12px; /* Rounded corners */
}
.Button-style:hover{
    transform: scale(1.05); /* Slightly zoom out the button */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow */
}